.bioImg {
    height: auto;
    width: 225px;
}

.locationImg {
    height: 2rem;
    width: 2rem;
}

.location {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#creatorsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    width: 90%;
    margin: auto;
}

.bioSection {
    margin: auto;
    text-align: center;
}

.right {
    margin-left: 1em;
}

.bioContainer {
    display: flex;
    flex-direction: row;
    width: 32rem;
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--primary-shadow);
    padding: 20px;
    margin: auto;
    margin-bottom: 5%;
    margin-top: 5%;
}

#siteCreditContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--primary-shadow);
    padding: 20px;
    margin: auto;
    margin-bottom: 5%;
    margin-top: 1em;
}

#logoCollection {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    flex-wrap: wrap;
}

.thankYouLogos {
    width: 5rem;
    height: 5rem;
}

/* Social buttons */
.socials {
    display: flex;
    flex-direction: crowolumn;
}

.socicon {
    width: 2rem;
    height: 2rem;
}

#microsoftLogo {
    animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
    0% {
        transform: scale(0.95);
    }

    70% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(0.95);
    }
}

/* Social button ends */

@media screen and (max-width: 720px) {
    .bioContainer {
        flex-wrap: wrap;
        width: 80%;
    }

    .left {
        display: flex;
        margin: auto;
        align-items: center;
    }
}