@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* Variables */
:root {
    --font-family: "Roboto", sans-serf;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #fcfcfc;
    --primary-color: #00ace6;
    --secondary-color: #ff7235;
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #a17a69;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
}

/* Variables end */

html {
    scroll-behavior: smooth;
}

/* CSS Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 2px solid red; */
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    color: var(--secondary-color);
}

body {
    font-family: var(--font-family);

}

h2 {
    text-align: center;
    margin-top: 2%;
}

section {
    width: 90%;
    margin: auto;
    padding-top: 2%;
}

.staff {
    margin-bottom: 80px;
}

/* CSS Resets end */

/* Navbar */
nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--bg-color);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

nav h1 {
    color: var(--primary-color);
}

nav a {
    color: var(--primary-color);
    transition: var(--transition);
    text-decoration: none;
}

nav a:hover {
    text-decoration: none;
}

nav ul {
    display: flex;
    gap: 1.9rem;
}

nav ul li {
    font-weight: var(--bold-font);
}

.burger-menu {
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
}

#brand {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Navbar ends */

/* Footer section */
footer {
    background-color: var(--bg-color);
    padding: 1.25rem;
    text-align: center;
    margin: 2rem 0 0;
}

/* Footer section ends */

/* Media queries for responsiveness */
@media screen and (max-width: 720px) {
    nav {
        padding: 1.5rem 1rem;
        margin-bottom: 5%;
    }

    nav ul {
        position: fixed;
        background-color: var(--bg-color);
        flex-direction: column;
        top: 86px;
        left: 10%;
        width: 80%;
        text-align: center;
        transform: translateX(120%);
        transition: transform 0.5s ease-in;
    }

    nav ul li {
        margin: 8px;
    }

    nav ul.show {
        transform: translateX(0);
    }

    .burger-menu {
        display: block;
    }
}

hr.staffLine {
    border: none;
    height: 2px;
    background-color: black;
    margin-bottom: 10px;
}

.cardSection {
    margin: auto;
    width: 90%;
    text-align: center;
}


.boxContainer {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--primary-shadow);
    padding: 20px;
    width: 80%;
    margin: auto;
    margin-bottom: 5%;
}

.cardContainer {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--primary-shadow);
    padding: 20px;
    width: 80%;
    margin: auto;
    margin-bottom: 5%;
}

#innerControls {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

#buttonControls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2%;
}

#staffContoller {
    margin-bottom: 5%;
}

.cardHeader {
    text-align: center;
    margin-bottom: 2% !important;
}

h3 {
    margin-bottom: 1em;
}

.button {
    background-color: #00ace6;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.picker {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
}

.colorLineLabel {
    margin-right: 3%;
}

.colorContainer {
    position: relative;
    overflow: hidden;
    width: 35px;
    height: 25px;
    border: solid 2px #ddd;
}

#colorControls {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
}

#presetButtons {
    margin-top: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.colorPicker {
    position: absolute;
    right: -8px;
    top: -8px;
    width: 56px;
    height: 56px;
    border: none;
}

#lineSpacing {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
}

.lineSpacingLabel {
    margin-right: 3%;
}

#lineWidth {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
}

.lineWidthLabel {
    margin-right: 3%;
}

input[type=number],
select {
    width: 100%;
    padding: 8px 8px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#siteLogo {
    height: 50px;
    width: 50px;
}

@media print {
    #icons8Ad,
    nav,
    h1,
    h2,
    .boxContainer,
    .cardContainer,
    #innerControls {
        display: none;
    }
}